/* mobile */
@media  (max-width : 46.1875em){
    /* header */
    #pollock{
        overflow: hidden;
    }
    nav{
        display: none;
        width: 100% ;
          top: 6px;
        left: 0px;
        position: absolute;
        background: rgb(72, 90, 184);
        animation: menu .5s linear forwards;
        z-index: 2;
    }
    @keyframes menu {
        0%{
            transform: translate(0, 0px);
            opacity: 0;
        }   
        100%{
            opacity: 1;
            transform: translate(0, 60px);
        }
    }
    
    .heading{
        margin-left: 5px;
        justify-content: space-between;
    }
    .heading__right{
        display: none;
    }
    nav > .heading__right{
        justify-content: center;
        margin: 10px 0 20px ;
        flex-direction: row-reverse;
    }
    .heading__right > button{
        padding: 5px 10px;
        font-size: 1rem;
    }
    .heading-nav{
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 45px;
    }
    .nav-item > a{
        font-size: 2rem;
        display: inline-block;
        width: 100%;
        transition: .3s all;
        color: var(--text-header);
    }
    .nav-item:nth-child(3) > a{
        color: var(--text-color);
    }
    .nav-item{
        margin: 0;
    }
    .nav-item > a:hover {
        background: var(--text-color);
        color: var(--text-title);
        /* background: transparent; */
     }
    .nav-bar{
        font-size: 2.3rem;
        color: var(--color-button-icon);
        cursor: pointer;
        transition: .3s all;
        position: relative;
        right: 10px;
        padding: 10px 0 10px 10px;

        top: 0px;
    }
    .nav-bar:hover{
        opacity: .7;
    }
    .active{
        display: none;
    }
     
    /* about */
   
    /* app */
    /* .app-main {
        grid-template-columns: repeat(1 , 1fr);
        padding-top: 50px;
        width: 100%;
        height: 100%;
    }
    .app-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .app-content_item{
        max-width: 380px;
        padding: 0 5px;
    }
    .app-content_description{
        max-width: 380px;
        padding: 0 10px;
    }
    .app-img{
        transform: scale(.6);
        padding: 0;
    }
    .app-content_title {
        font-size: 3.5rem;
        max-width: 380px;
        padding: 0 10px;
    } */
    /* hero */
    .hero-content{
        grid-template-columns: repeat(1 , 1fr);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-content_service{
        transform: scale(.7);
        padding: 0;
    }
    /* .hero-content_info-describe{
        padding: 0 10px;
    } */
    .hero-content_info{
        padding: 0 10px;
    }
    .hero-header_note {
        margin: 30px 0 0 0;
    }
    .hero-header_title {
        margin-top: 50px;
        font-size: 4.5rem;
    }
    .hero-content_info {
        margin-bottom: 100px;
    }
    /* pricing */
    .pricing {
        padding: 0;
    }
    .pricing-list{
        
    }
    .pricing-main{
        padding-top: 50px;
    }
    .pricing-content {
        grid-template-columns: repeat(1 ,1fr);
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }
    .pricing-content_price {
        width: 92%;
        /* transform: scale(.9); */
        /* border: 1px solid; */
        /* padding: 0 20px; */
        border: 10px;
    }
    .pricing-absolute{
        /* display: none; */
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0 , 0);
    }
    .strikethrough {
        margin: 50px 0;
        scale: .9;
    }
    .menu{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    /* customer */
    /* .customer {
        padding: 0;
    }
    .customer-content{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
        padding: 0 10px;
    }
    .customer-description {
        max-width: 479px;
        padding: 0;
    }
    .customer-footer_info {
        font-size: 4.2rem;
    } */
    /* logo */
    .logos-header {
        margin-top: 70px;
    }
    .logos-list{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 15px;
        transform: scale(.8);
        margin: 40px 0 70px;
    }
    /* reviews */
    .reviews-main{
        padding-top: 70px;
    }
    .reviews-header {
        font-size: 4.5rem;
    }
    .reviews-customer {
        margin-bottom: 40px;
    }
    .reviews-content {
        grid-template-columns: repeat(1 ,1fr);
        margin-bottom: 70px;
    }
    .reviews-a{
        display: flex;
        justify-content: center;
    }
    .reviews-list {
        margin-bottom: 0;
        width: 100%;
    }
 
    /* footer */
    .footer-content{
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        padding: 0 10px;
    }
    .footer-list {
        gap: 5px;
    }
    .footer-img{
        position: absolute;
        top: 30px;
        left: 10px;
    }
     .footer-form{
        flex-direction: column;
    }
    .footer-btn{
        float: right;
        clear: both;
        padding: 7px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-email{
        padding: 11px 18px;
    }
    
    .copyright-main{
        display: block;
        padding: 0 10px;
    }
    .copyright-description{
        text-align: center;

    }
    .copyright-icon{
        justify-content: center;
    }
    /* about */
    .about-BG {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .about{
        margin-top: 0;
    }
    .about-right{
        display: none;
    }
    .about-BG{
        padding: 50px 10px;
    }
    .about_content{
        margin: 50px auto;
    }
    .about_content-list{    
        display: block;
    }
    .about_content-item{
        margin-bottom: 10px;
    }
    .about_content-item:last-child{
        margin-bottom: 0;
    }
}

/* table */
@media  (min-width : 46.25em) and (max-width :  63.9375em){
    #pollock{
        overflow: hidden;
    }
   nav{
        display: none;
        width: 100% ;
        top: 6px;
        left: 0px;
        position: absolute;
        background: rgb(72, 90, 184);
        animation: menu .5s linear forwards;
        z-index: 2;
    }
    @keyframes menu {
        0%{
            transform: translate(0, 0px);
            opacity: 0;
        }   
        100%{
            opacity: 1;
            transform: translate(0, 60px);
        }
    }
    
    .heading{
        padding-left: 5px;
        justify-content: space-between;
    }
    
    .heading__right{
        display: none;
    }
    nav > .heading__right{
        justify-content: center;
        margin: 10px 0 20px ;
        flex-direction: row-reverse;
    }
    .heading__right > button{
        padding: 5px 10px;
        font-size: 1rem;
    }
    .heading-nav{
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 45px;
    }
    .nav-item > a{
        font-size: 2rem;
        display: inline-block;
        width: 100%;
        transition: .3s all;
        color: #fff;
    }
    .nav-item{
        margin: 0;
    }
     .nav-item > a:hover {
        background: var(--text-color);
        color: var(--text-title);
        /* background: transparent; */
     }
    .nav-bar{
        font-size: 2.3rem;
        color: #2D3958;
        cursor: pointer;
        transition: .3s all;
        position: relative;
        right: 10px;
        padding: 10px 0 10px 10px;
        top: 0px;
    }
    .nav-bar:hover{
        opacity: .7;
    }
    .active{
        display: none;
    }
    .wallpaper{

    }
    .wallpaper-title{
        text-align: center;
    }
    .wallpaper-content{
        padding: 40px 0;
        display: inline-block;
    }
    .wallpaper-left{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wallpaper-description{
        text-align: center;
        font-size: 3rem;
        line-height: 58px;
    }
    .wallpaper-text{
        text-align: center;
    }
    .wallpaper-right{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wallpaper-img{
        width: 100%;
        object-fit: cover;
    }
    .wallpaper-meeting{
        right: 30px;
    }
    .wallpaper-phone{
        left: 30px;
    }
    .about{
        padding: 0 10px;
    }
    .about-header{
        margin-top: 80px;
        font-size: 5rem;
        line-height: 58px;
    }
    .about-main{
        gap: 30px;
        padding: 40px 0;
    }
    .about-service{

    }
    .about_content-list{
        overflow-x: scroll !important;
    }
    .about_content-item{
        /* width: 350px; */
    }
    .about-service_list{
        float: none;
        max-width: none;
    }
    .about-service_list:nth-child(odd){
        margin-left: 0;
    }
   
    .item_content-header{
        font-size: 2rem;
        line-height: 24px;
    }
    .info_content-text{
        font-size: 1.5rem;
        line-height: 25px;
    }
    .item_content-description{
        font-size: 1.4rem;
        line-height: 17px;
    }
    .service-item_content{
        width: auto;
    }
    .about-info_btn{
        width: 100%;
        margin-top: 40px;
    }
    .app{
        padding: 0 10px;
    }
    .app-main{
        padding: 40px 0;
        gap: 20px;
    }
    .app-content{
        width: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .app-img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .div{
        flex-direction: row;
        align-items: center;
        /* grid-gap: 10px; */
    }
    .app-img_3,
    .app-img_2,
    .app-img_1{
        scale: .85;
        margin: 0;
    }
    .hero{
        padding: 0 10px;
    }
    .hero-content{
        gap: 30px;
    }
    .hero-content_service{
        gap: 0;
    }
    .hero-content_item{
        width: 100%;
        height: auto;
        /* padding: 0 35px; */
        padding-bottom: 35px;
        scale: .87;
        margin-bottom: 0;
    }
    .hero-content_description {
        font-size: 1.2rem;
        line-height: 20px;
    }
    .hero-content_img{
        margin: 20px 10px;
    }
    .hero-content_btn{
        width: 100%;
    }
    .pricing{
        padding: 0 10px;
    }
    .pricing-main{
        padding-top: 40px;
    }
    .pricing-content{
        margin-top: 60px;
    }
    .pricing-content_price{
        width: 390px;
    }
    .pricing-absolute{
        /* transform: translate(-50% , -22%); */
    }
    .customer{
        padding: 200px 10px 0;
    }
    .reviews-main{
        padding: 80px 10px 0;
    }
    .reviews-customer{
        margin-bottom: 40px;
    }
     .reviews-content{
       overflow-x: scroll;
    }
    .reviews-list{
        margin-bottom: 40px;
    }
    .reviews-a{
        width: 360px;
    }
    .footer-main{
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-content{
        gap: 10px;
    }
    .footer-form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer-email{
        padding: 11px 18px ;
    }
    .footer-hr{
        margin: 50px 0 20px;
    }
    .copyright-main{
        padding: 0 10px;
    }
}
/* PC */
@media  (min-width : 64em){
    .nav-bar{
        display: none;
    }
}

/* mobile < 768 */
/* 768 > 992 > 1024px table */
/* pc 1200 pc */